@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.color-black{
    color: #000;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.align-item-center {
    display: flex;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

/*------------navbar-details---------------*/

nav {
    width: 100%;
    position: relative;
    z-index: 1;
}

.gap-12 {
    gap: 60px;
}

.logo {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;

}

.menuLink {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
}
.scale{
    transition: all 300ms linear;
}
.scale:hover{
    transform: scale(1.2) !important;
}
.cursor{
    cursor: pointer;
}
.h-85{
    height: 85% !important;
}


.btn-1 {
    font-family: poppins, sans-serif;
    border-radius: 23px;
    font-size: 15px;
    font-weight: 700;
    background-color: blue;
    border: 1px solid blue;
    letter-spacing: 0.5px;
    height: 46px;
    width: 118px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.free {
    color: #01C8FF;
}

/*=============flex-Grow================*/
.para {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #605f5f;
}

.img-1 {
    border-radius: 30px;
}

.heading {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}

.card {
    margin-left: 50px;
}

.btn-2 {
    border-radius: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background: #2C49FE1A;
    height: 46px;
    margin: 13px;
    width: 254px;
    cursor: pointer;

}

.btn-2:hover {
    background: #2C49FE;
    color: white;
}

.para-2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.my-8 {
    margin: 8px;
}

.my-20 {
    margin-right: 20px;
    margin-top: 38px;
}
.btn-1:hover{
    background-color: white;
    color: #2C49FE  !important;
}

/*============= section-2 =============*/
.section-2{
    padding-top: 120px;
}
/*============ section-3 ==============*/
.my-50 {
    margin-top: 55px;
}

.my-70 {
    margin-top: 77px;
}

.gallery-img {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
}

.gallery-img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.gallery-img-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.gallery-img-3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.gallery-img-4 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.gallery-img-5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.gallery-img-6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.g-img {
    overflow: hidden;
    border-radius: 30px;
}
.g-img:hover{
    transform: scale(1.01);
    cursor: pointer;
}

/*================= section-4 ================*/
.text-align-center {
    text-align: center;
}

.text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 85px;
    width: 70%;
    border: none;
    outline: none;
}

.border-radius {
    border-radius: 35px;
}

input[type="text"] {
    height: 70px;
}

.my-67 {
    margin-top: 67px;
}

label {
    position: relative;
}

.justify-content-right {
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

.left-icon {
    position: absolute;
    padding: 8px 0px 7px 9px;
}

.right-icon {
    position: absolute;
    width: 190px;
    margin-top: 10px;
}

.heading-2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 14px 0px 0px 20px;
    background: #F1F2F5;
    margin-left: 20px;
    border-radius: 0px 20px 20px 20px;
    margin-top: 50px;
}

.para-3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 10px 0px 20px 0px;
}

.svg-2 {
    margin-left: 96px;
}

.remove {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: gray;
}

.my-8 {
    margin-top: 8px;
}

/*============footer-details=============*/
footer {
    background-color: black;
}

.para-7 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #fff;
    margin-top: 30px;
}

.svg-3 {
    margin-top: 25px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.top-heading {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.service {
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.h-100 {
    height: 100%;
}
.box-3{
    border: 1px solid #9CA1BE;
    border-radius: 100px;
}
.btn-3{
    font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        padding: 13px;
        color: white;
        border-radius: 30px;
        background-color: #2C49FE;
        margin-left: 50px;
        cursor: pointer;
}
.btn-3:hover{
    background-color:white ;
    color: #2C49FE;
    border: 1px solid;
    transition: 200ms all linear;
}

.add {
    width: 77%;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
}

.footer-img-1 {
    padding-right: 10px;
    padding-top: 10px;
}

.show-more {
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
}

.box-2 {
    background: #18205C;
    margin-top: 13px;
}

.mt-10 {
    margin-top: 10px;
}

.para-5 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #fff;
}
  .mt-20{
        margin-top: 30px;
    }
    .pb-118{
        padding-bottom: 118px !important;
    }


/*===================responsive nav ===============*/
@media (max-width:992px) {
    .gallery-img-3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .gallery-img-5 {
        grid-column: 2/3;
        grid-row: 4/5;
        object-fit: cover;

    }

    .gallery-img-6 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .mr{
        margin-top: 0 !important;
    }
    .section-2{
    padding-top: 10px;
}
}

@media (max-width:576px) {

    .gallery-img-1 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .gallery-img-2 {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .gallery-img-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .fs-sm-26 {
        font-size: 26px;
    }

    .service {
        padding-top: 30px;
    }
}

@media (max-width:768px) {
    .md-d-none {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .service {
        padding-top: 30px;
    }
    .pb-118{
        padding-bottom: 50px !important;
    }
}

@media (max-width:992px) {
    nav {
        z-index: 9;
        position: fixed;
        background-color: white;
    }

    .menuLink {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: white;
        transition: all 200ms linear;
        line-height: 20px;
    }

    label[for="menuIcon"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        margin-top: 30px;
    }

    label[for="menuIcon"] span {
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.menuLink {
        right: 0;
    }

    input:checked~label[for="menuIcon"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="menuIcon"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="menuIcon"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

    .border-right {
        border-right: none;
    }

    .lg-d-none {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img-1 {
        margin-top: 120px;
    }
    .mt-20{
        padding-top: 0px !important;
    }
}